.footer__child-container{
    text-align: center;
    flex-basis: 150px;
    flex-grow: 1;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 40px;
    background: #071d0b;
}

.footer__child-container-info {
    list-style-type: none;
}

.footer__child-container-title{
    color: white;
}

.footer__child-container-info-item > .list-item-link  {
    color: white;
}

.footer__child-container-text {
    margin-top: 10px;
    color: white;
}

.footer__logo-icon {
    height: 100px;
}