.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.header__logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60px;
}
.header__logo {
    height: 40px;
    width: 40px;
}

.header__menu {
    display: none;
    background-color: #469a65;
    border: 1px solid #469a65;
    border-radius: 4px;
}

.header__search {
    height: 40px;
    margin: auto;
    width: 400px;
    border: 1px solid #469a65;
    border-radius: 4px;
    padding: 0px 10px;
}